body{
background-color:#66d9ff;
padding-left:20px;
padding-bottom:0px;
padding-top:50px;
padding-right:20px;
}
a{
padding-right:30px;
text-align:center;
}
h3{
padding-top:40px;
padding-bottom:10px;
font-size:26px;
color:#1E90FF;
font-family: Arial;
font-weight:Bold;
padding-top:0px;
text-align:center;
text-decoration:underline;
}
p{
padding-left:20px;
text-align:left;
font-weight:bold;
}
.texto{
padding-top:0px;
padding-bottom:40px;
font-size:22px;
color:black;
font-family: Arial;
text-align:center;
word-spacing: 5px;
}

ul{
padding-left:60px;
}
li{
text-align:left;
padding-bottom:0px;
padding-top:30px;
word-spacing:10px;
text-align:justify;
line-height:1.9;

}
.container{
padding-top:0px;
padding-right:20px;
padding-bottom:10px;
width:1100px;
background-color:#FFFFFF;

}
.refletir{
text-align:center;
}
.leitura{
text-align:center;

}
footer{
background-color:#66d9ff;
color:white;
padding-left:49px;
}

div..barra{
	padding-top:10px;
	
}