body{
background-color:#66d9ff;
padding-left:20px;
padding-bottom:50px;
padding-top:50px;
padding-right:20px;
}
a{
padding-right:30px;
}
h1 {
font-size:24px;
color:#1d5e83;
font-family: Arial;
text-align: center;
font-weight: bold;
}
p{
padding-left:40px;
padding-right:40px;
text-align:justify;
text-indent:1.0;
line-height:2.0;
word-spacing: 5px;

}

.texto{
text-indent: 50px;
padding-top:50px;
padding-bottom:20px;
font-size:25px;
color:black;
font-family: Arial;
text-align:justify;
word-spacing: 9px;
padding-left:50px;
padding-right:50px;

}

.info_geral{
padding-top:10px;
padding-left:150px;
padding-bottom:50px;
padding-right:150px;

}
.sae{
padding-top:0px;
padding-left:250px;
padding-bottom:50px;
padding-right:20px;
}
.container{
padding-top: 10px;
padding-right:10px;
background-color:#FFFFFF;
width:1000px;
padding-bottom:20px;
}

.seta1{
padding-top:0px;
padding-left:150px;
padding-bottom:0px;
padding-right:0px;
}
.seta2{
padding-top:0px;
padding-left:390px;
padding-bottom:0px;
padding-right:0px;
}
.seta3{
padding-top:0px;
padding-left:0px;
padding-bottom:90px;
padding-right:60px;

}
.resolucao{
padding-top:0px;
padding-left:30px;
padding-bottom:50px;
padding-right:30px;

}
.exemplos{
padding-top:10px;
padding-left:20px;
padding-bottom:0px;
padding-right:0px;
}
.etapas{
padding-top:50px;
padding-left:20px;
padding-bottom:50px;
padding-right:140px;
}
.mapaconceitual{
padding-left:0px;
}

.etapa1{
padding-top:50px;
padding-left:20px;
padding-bottom:50px;
padding-right:20px;

}

.etapa2{
padding-top:50px;
padding-left:20px;
padding-bottom:50px;
padding-right:20px;
}
.etapa3{
padding-top:30px;
padding-left:500px;
padding-bottom:20px;
}
.etapa4{
padding-top:30px;
padding-left:500px;
padding-bottom:20px;
}
.etapa5{
padding-top:30px;
padding-left:500px;
padding-bottom:20px;

}
.logos{
text-align: center;
}
footer{
padding-top:5px;
background-color:#66d9ff;
color:white;
padding-left:15px;
}